<div
  x-data="{ loading: true }"
  x-init="setTimeout(() => loading = false, 2000)"
  class="card-container bg-brand-light p-4"
>
  <template x-if="loading">
    <div>
      <div class="mb-4">Loading...</div>
      <div role="status" class="max-w-sm animate-pulse">
        <div class="h-2.5 bg-neutral-200 rounded-full w-48 mb-4"></div>
        <div class="h-2 bg-neutral-200 rounded-full max-w-90 mb-2.5"></div>
        <div class="h-2 bg-neutral-200 rounded-full mb-2.5"></div>
        <div class="h-2 bg-neutral-200 rounded-full max-w-75 mb-2.5"></div>
        <div class="h-2 bg-neutral-200 rounded-full max-w-75 mb-2.5"></div>
        <div class="h-2 bg-neutral-200 rounded-full max-w-90"></div>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </template>
  <template x-if="!loading">
    <div>
      <div class="max-w-sm bg-brand-primary-100 border border-brand-primary-700 text-brand-primary-700 rounded-md p-4 h-48">
        Content loaded!
      </div>
    </div>
  </template>
</div>