@import "tailwindcss";

body {
  background-color: var(--color-brand-background);
  padding: 0 2rem;
}

@theme {
  --color-brand-background: #F0F0F0;

  --color-brand-primary-100: #F3F7F7; /* Badge backgrounds */
  --color-brand-primary-700: #128B9B; /* Main blue/green */

  --color-brand-light: #ffffff; /* Generic light */
  --color-brand-dark: #042F2E; /* All text */

  --color-brand-border: #E5E7EB;
}

@layer components {
  /* New card container component */
  .card-container {
    @apply rounded-md mb-4;
  }
}