<div class="card-container bg-brand-light">
  <div class="flex flex-col items-start gap-4">
    <h1 class="heading-primary md:text-4xl text-2xl">Components</h1>
    <h2 class="heading-secondary text-xl">Buttons</h2>

    <div class="grid w-full grid-cols-2  bg-neutral-400 rounded-xl p-8">
      <div class="flex flex-col items-start gap-4">
        <a href="#" class="button-primary">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
        </a>
        <a href="#" class="button-primary-icon">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
          <span>
            <span class="icon-arrow"></span>
          </span>
        </a>
        <a href="#" class="button-transparent">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
        </a>
        <a href="#" class="button-transparent-icon">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
          <span>
            <span class="icon-arrow"></span>
          </span>
        </a>
        <a href="#" class="button-secondary">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
        </a>
        <a href="#" class="button-secondary-icon">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
          <span>
            <span class="icon-arrow"></span>
          </span>
        </a>
        <a href="#" class="button-tertiary">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
        </a>
        <a href="#" class="button-tertiary-icon">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
          <span>
            <span class="icon-arrow"></span>
          </span>
        </a>
        <div class="flex flex-row w-full">
          <a href="#" class="button-text-icon w-1/2">
            <span>Read More</span>
            <span class="icon icon-arrow"></span>
          </a>
          <a href="#" class="button-text-icon text-brand-light w-1/2">
            <span>Read More</span>
            <span class="icon icon-arrow"></span>
          </a>
        </div>
      </div>
      <div class="flex flex-col max-w-xs gap-4">
        <a href="#" class="button-primary">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
        </a>
        <a href="#" class="button-primary-icon">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
          <span>
            <span class="icon-arrow"></span>
          </span>
        </a>
        <a href="#" class="button-transparent">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
        </a>
        <a href="#" class="button-transparent-icon">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
          <span>
            <span class="icon-arrow"></span>
          </span>
        </a>
        <a href="#" class="button-secondary">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
        </a>
        <a href="#" class="button-secondary-icon">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
          <span>
            <span class="icon-arrow"></span>
          </span>
        </a>
        <a href="#" class="button-tertiary">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
        </a>
        <a href="#" class="button-tertiary-icon">
          <span class="button-text" data-text="Click Me"><span>Click Me</span></span>
          <span>
            <span class="icon-arrow"></span>
          </span>
        </a>
      </div>
    </div>

    <h2 class="heading-secondary text-xl">Badges</h2>

    <div class="grid w-full grid-cols-2  bg-neutral-400 rounded-xl p-8">
      <div class="flex flex-col items-start gap-4">
        <div class="badge-transparent">
          <span class="relative flex size-2 -ml-1">
            <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-brand-primary-700 opacity-75"></span>
            <span class="relative inline-flex size-2 rounded-full bg-brand-primary-700"></span>
          </span>
          Welcome to Wigmore Medical
        </div>
        <div class="badge-primary">Welcome to Wigmore Medical</div>
      </div>
    </div>

    <h2 class="heading-secondary text-xl">Typography</h2>

    <div class="grid w-full grid-cols-2  bg-neutral-800 rounded-xl p-8">
      <div class="flex flex-col items-start gap-4">
        <h1 class="heading-primary md:text-5xl text-2xl text-brand-light">
          Primary Heading 5xl
        </h1>
        <h1 class="heading-primary md:text-4xl text-2xl text-brand-light">
          Primary Heading 4xl
        </h1>
        <h1 class="heading-primary md:text-3xl text-2xl text-brand-light">
          Primary Heading 3xl
        </h1>
        <h1 class="heading-primary md:text-2xl text-2xl text-brand-light">
          Primary Heading 2xl
        </h1>
        <h1 class="heading-secondary md:text-base text-sm text-brand-light">
          Secondary Heading
        </h1>
      </div>
      <div class="flex flex-col items-start gap-4 bg-brand-light rounded-xl px-4">
        <h1 class="heading-primary md:text-5xl text-2xl">
          Primary Heading 5xl
        </h1>
        <h1 class="heading-primary md:text-4xl text-2xl">
          Primary Heading 4xl
        </h1>
        <h1 class="heading-primary md:text-3xl text-2xl">
          Primary Heading 3xl
        </h1>
        <h1 class="heading-primary md:text-2xl text-2xl">
          Primary Heading 2xl
        </h1>
        <h1 class="heading-secondary md:text-base text-sm">
          Secondary Heading
        </h1>
      </div>
    </div>
  </div>
</div>