<div class="card-container bg-brand-primary-700 text-brand-light">
  <div class="card-container-inner">
    <div class="flex flex-col items-center justify-between gap-6">
      <div class="w-1/2 flex flex-col gap-4 items-center text-center justify-center mb-4">
        <div class="badge-primary">Current Promotions</div>
        <h1 class="heading-primary text-4xl">Our Latest Offers</h1>
        <p>Discover exclusive deals on prescription medicines, devices, and skincare, available only to verified Wigmore Medical account holders.</p>

        <div class="flex flex-row gap-3 mt-2">
          <a href="#" class="px-6 py-3 flex items-center justify-center text-xs uppercase tracking-wide border border-brand-border bg-white text-brand-dark rounded-full font-bold hover:bg-brand-primary-100 transition-colors">
            View all offers
          </a>
        </div>
      </div>
    </div>
  </div>
</div>